<h1><%= @flat.name %></h1>
<h4><%= @flat.address %></h4>
<p><%= @flat.description %></p>
<i class="fa-solid fa-people-line"></i>
<span><%= @flat.number_of_guests %></span>
<i class="fa-solid fa-euro-sign"></i>
<span><%= @flat.price_per_night %></span>

<p><%= link_to "Back to homepage", flats_path %></p>
